/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Koulen&family=Rubik+Moonrocks&display=swap');

body, html {
    padding: 0;
    margin: 0;
}

body {
    background-color: rgb(13, 25, 36);
}